.news__container {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 450px;
  background-color: var(--background);
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.news__container:hover {
  transform: scale(1.05);
}

.news__information {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  border-radius: 0 0 10px 10px;
  padding: 10px;
  gap: 10px;
}

.news__banner {
  border-radius: 10px 10px 0 0;
}

.news__date {
  display: flex;
  position: relative;
  align-items: center;
  gap: 5px;
}

.news__text:nth-child(1) {
  font-size: 1.1rem;
  font-weight: 500;
}

.news__text:nth-child(2) {
  font-size: 0.8rem;
  color: var(--hint);
}

.news__chevron {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  right: 0;
  border-radius: 50%;
  background-color: var(--green);
}

.news__chevron__icon {
  height: 15px;
  color: var(--background);
}

.news__text:nth-child(3) {
  font-size: 0.9rem;
  flex-grow: 1;
  flex-basis: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

